version: '2'
services:
  s3:
    labels:
      io.rancher.container.hostname_override: container_name
    ports:
      - "8000"
    tty: true
    image: scality/s3server
    stdin_open: true
  loadbalancer:
    labels: 
      io.rancher.scheduler.global: 'true'
      io.rancher.container.create_agent: 'true'
      io.rancher.container.agent.role: environment
    links:
      - s3
    ports:
      - 18080:80/tcp
    image: rancher/lb-service-haproxy:v0.6.2
    port_rules:
      - protocol: tcp
        service: s3
        source_port: 80
        target_port: 8000